<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Buurtcampus webpagina</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-logo"><a href="./asset/PlantSwap-logo-green 2.png" class="logo"
                    aria-label="logo buurtcampus">logo</a></div>
            <ul class="nav-li">
                <li><a href="/" aria-label="">Stekjesbieb</a></li>
                <li><a href="/" aria-label="">Hoe werkt het?</a></li>
                <li><a href="/" aria-label="">Verzorging</a></li>
                <!-- <li class="nav-button"><a href="/" aria-label=""></a>Upload stekjes</li> -->
            </ul>
            <div class="nav-button"><button><span></span>Upload stekje</button></div>
        </nav>
    </header>

    <section>
        <h1>Hoe werkt het?</h1>
        <p></p>
    </section>

    <main>



</body>

</html>