<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buurtcampus webpagina</title>
</head>

<body>
    <header>
        <h1>Plant-swap</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/" aria-label=""></a>Stekjesbieb</li>
            <li><a href="/" aria-label=""></a>Hoe werkt het?</li>
            <li><a href="/" aria-label=""></a>Verzorging</li>
            <li><a href="/" aria-label=""></a>Upload stekjes</li>
        </ul>
    </nav>

    <main>



</body>

</html>