:root {
  --primary-color: #56704a;
  --background-color: #d5dbd2;
  --border-radius-btn: 1em;
  --homepage-btn-color: #56704a;
  --homepage-btn-text-clr: #d5dbd2;
  --font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 2em;
  color: #56704a;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: scroll;
  background-color: #d5dbd2;
}

h1 {
  font-size: 42px;
}
/* HOMEPAGE NAVIGATION MENU */

header {
  width: 100%;
  height: auto;
  top: 0;
  position: fixed;
}

nav {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  margin: 0 1.5em;
}

.logo {
  width: 8em;
}

.nav-links ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-links li {
  padding: 1em;
}

.nav-links li:last-child {
  background-color: var(--primary-color);
  border-radius: var(--border-radius-btn);
}

.nav-links a {
  text-decoration: none;
  color: #56704a;
  font-weight: var(--font-weight);
}

/* MOBILE VERSION  */
/* .menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  width: 50px;
  background: transparent;
  border: none;
  aspect-ratio: 1/1;
} */
svg {
  color: var(--primary-color);
}

/* HOMEPAGE INTRO SECTION */

.homepage-container-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.homepage-intro-img img {
  width: 40em;
}

.homepage-intro-content {
  text-align: center;
  max-width: 800px;
  margin: 0 1em;
}

.homepage-intro-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.homepage-intro-content button {
  padding: 1em;
  margin: 0 0.5em;
  border: none;
  background-color: var(--homepage-btn-color);
  border-radius: 1em;
  color: var(--homepage-btn-text-clr);
  font-weight: var(--font-weight);
}
.homepage-intro-content button:hover {
  background-color: #7f8a79;
}

.homepage-container-intro > h1,
.homepage-container-intro > p {
  margin: 1em 0 0 0;
}

.homepage-intro-img {
  margin-top: 15em;
  z-index: -1;
  animation-name: moving;
  animation: moving 1s ease-in-out alternate infinite;
  filter: drop-shadow(0 0 0.75rem rgb(120, 133, 123));
}

@keyframes moving {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

/* HOMEPAGE PLANT SECTION  */

.homepage-plant-container {
  margin: 0 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  --width-card: 20em;
}

.plant-card {
  position: relative;
  width: var(--width-card);
  aspect-ratio: 1/1.2;
  transition: all 0.25s ease;
  overflow: hidden;
  border-radius: 1em;
  margin-bottom: 2em;
}

.plant-card:hover {
  transform: scale(0.9);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.plant-card > img {
  width: var(--width-card);
  aspect-ratio: 1/1.2;
}

.plant-card-content {
  width: 100%;
  position: absolute;
  padding: 1em;
  bottom: 0;
  color: #56704a;
  background-color: #d5dbd2;
  display: flex;
  place-items: center;
  flex-direction: column;
  opacity: 0.9;
}

.plant-card-content p {
  font-size: 1em;
}

.plant-card-content button {
  margin-top: 2em;
  padding: 10px 40px;
  border-radius: 2em;
  background: #56704a;
  color: #d5dbd2;
  cursor: pointer;
  font-size: 0.75em;
  border: none;
}

.plant-card-content > button:hover {
  border: 1px solid #56704a;
  background-color: #7f8a79;
  color: #56704a;
  font-weight: 600;
}

/* CARD ICONS */
.plant-card ul {
  position: absolute;
  right: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 1em;
  transform: translate(100%);
  transition: all 0.25s ease;
}

.plant-card:hover ul {
  transform: translate(0);
  opacity: 1;
}

.plant-card li {
  background: #fff;
  list-style: none;
  width: 40px;
  aspect-ratio: 1/1;
  opacity: 0.8;
  transition: all 0.25s ease;
  backface-visibility: hidden;
}

.plant-card li:hover {
  opacity: 1;
  transform: translate(-7px, 4px);
  border-radius: 6px;
}

/* SECTION PICK UP INFORMATION  */

.homepage-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.homepage-info-content {
  background-color: #83967a;
  padding: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em 1em;
  position: absolute;
  margin: 0 2em 0 2em;
}

.homepage-info-content img {
  width: 5em;
  filter: drop-shadow(0 0 0.75rem rgb(120, 133, 123));
}

.homepage-info-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homepage-info-list p {
  color: #d5dbd2;
  font-weight: 600;
  padding: 0 2em 0 1em;
  height: auto;
}

@media screen and (max-width: 45em) {
  .info-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
