:root {
  --color-main: #56704a;
  --color-button: #d5dbd2;
  --color-text: #d5dbd2;
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 2em;
  color: #56704a;
}

body {
  overflow: scroll;
  background-color: #d5dbd2;
  font-family: var(--font-family);

  /* Navigation bar */
}
header {
  width: 100%;
  height: auto;
  top: 0;
  position: fixed;
}

header nav {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  margin: 0 1.5em;
}

.logo {
  width: 8em;
}

.nav-link ul {
  display: flex;
}

.nav-link li {
  list-style: none;
  padding: 1em;
}

.nav-link li:last-child {
  background-color: #56704a;
  border-radius: 1em;
}

.nav-link li a {
  text-decoration: none;
  color: #56704a;
  font-weight: 600;
}

.content-img {
  margin-top: 15em;
  z-index: -1;
  animation-name: moving;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  filter: drop-shadow(0 0 0.75rem rgb(120, 133, 123));
}

@keyframes moving {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.introduction img {
  width: 40em;
}

/* MOBILE VERSION */
.toggle-button {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  aspect-ratio: 1/1;
}
svg {
  color: #56704a;
}

.toggle-button span {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Intro section */

.introduction {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

.introduction-content {
  border: 1px solid green;
  text-align: center;
  border: 2px solid yellow;
  width: 50em;
}

.introduction-content button {
  padding: 1em;
  margin: 2em 0.5em 0 0.5em;
  border: none;
  background-color: #56704a;
  border-radius: 1em;
  color: #d5dbd2;
}
.introduction-content button:hover {
  border: 1px solid #56704a;
  background-color: #7f8a79;
  font-weight: 600;
}

.introduction h1,
.introduction p {
  margin: 1em 0 0 0;
}

.introduction h1 {
  font-size: 42px;
}

/* .introduction p {
} */

/* Stekjes section  */

main {
  margin: 0 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  --width-card: 20em;
}

.leaf-cards {
  position: relative;
  width: var(--width-card);
  aspect-ratio: 1/1.2;
  transition: all 0.25s ease;
  overflow: hidden;
  border-radius: 1em;
}

.leaf-cards:hover {
  transform: scale(0.9);
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.leaf-cards img {
  width: var(--width-card);
  aspect-ratio: 1/1.2;
}

.leaf-cards-content {
  width: 100%;
  position: absolute;
  padding: 1em;
  bottom: 0;
  color: #56704a;
  background-color: #d5dbd2;
  display: flex;
  place-items: center;
  flex-direction: column;
  opacity: 0.9;
}

.leaf-cards-content p {
  font-size: 1em;
}

.leaf-cards-content button {
  margin-top: 2em;
  padding: 10px 40px;
  border-radius: 2em;
  background: #56704a;
  color: #d5dbd2;
  cursor: pointer;
  font-size: 0.75em;
  border: none;
}

.leaf-cards-content button:hover {
  border: 1px solid #56704a;
  background-color: #7f8a79;
  color: #56704a;
  font-weight: 600;
}

/* card icons */
.leaf-cards ul {
  position: absolute;
  right: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 1em;
  transform: translate(100%);
  transition: all 0.25s ease;
}

.leaf-cards:hover ul {
  transform: translate(0);
  opacity: 1;
}

.leaf-cards li {
  background: #fff;
  list-style: none;
  width: 40px;
  aspect-ratio: 1/1;
  opacity: 0.8;
  transition: all 0.25s ease;
  backface-visibility: hidden;
}

.leaf-cards li:hover {
  opacity: 1;
  transform: translate(-7px, 4px);
  border-radius: 6px;
}
/* end card icons */

/* SECTION PICK UP  */

.info-pick-up {
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-content {
  background-color: #83967a;
  padding: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em 1em;
  position: absolute;
  margin: 0 2em 0 2em;
}

.info-content img {
  width: 5em;
  filter: drop-shadow(0 0 0.75rem rgb(120, 133, 123));
}

.info-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info-list p {
  color: #d5dbd2;
  font-weight: 600;
  padding: 0 2em 0 1em;
  height: auto;
}

/* Breakpoint informatie pagina */
@media screen and (max-width: 45em) {
  .info-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
